@import 'bulma';
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700,800&display=swap');

* {
  color: #373737;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

section.section {
  padding: 0;
  height: 100%;
}

.column {
  height: 80%;
}
// Background images

.hero-body-1 {
  background: url(https://imgur.com/PoeNST3.jpg) no-repeat 0 0 fixed;
  background-size: 100% 100%;
}
.hero-body-2 {
  background: url(https://imgur.com/4jMghQx.jpg) no-repeat 0 0 fixed;
  background-size: 100% 100%;
}
.hero-body-3 {
  background: url(https://imgur.com/SZOELQF.jpg) no-repeat 0 0 fixed;
  background-size: 100% 100%;
}
.hero-body-4 {
  background: url(https://imgur.com/oLwzXDX.jpg) no-repeat 0 0 fixed;
  background-size: 100% 100%;
}

//Navbar
.sidebar-section {
  height: 100%; /* 100% Full-height */
  width: 20%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.nav-section {
  writing-mode: vertical-rl;
  font-weight: 100;
  width: 20%;
  margin-top: 10%;
  margin-right: 10%;
}

// intro div
.column .my-picture{
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture {
  width: 50%;
  border: 25px solid white;
  position: relative;
  margin-left: 30%;
  margin-top: 15%;
}

.name {
  padding-top: 15%;
  .title,  .subtitle {
    height: auto;
  }
  padding-right: 55px;
  #camila {
    margin-bottom: 0;
  }
}

.title.is-1 {
  margin-bottom: 4%;
  padding-top: 5%;
}

// About me div

p {
  height: min-content !important;
}

#camila-picture {
  margin: auto;
}

.column .image-column {
  flex-direction: column;
}

.education-info, .experience-info {
  height: 28% !important;
}

#no-bottom-margin {
 margin-bottom: 0;
}

#education, #experience {
  height: 15%;
  width: 60%;
  overflow-y: scroll;
  position: absolute;
  max-width: 60%;
}

// projects div

.image-screenshot {
  box-shadow: 10px 12px 0.5rem rgba(0,0,0,0.5);
  // box-shadow: -47px -29px 0px 0px #e8cdc6;
}

#project-columns {
  justify-content: space-around;
  height: 60%;
  margin: auto;
  .detail {
    margin: auto;
  }
  .screenshot {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
  }
  .subtitle .is-4 {
    font-weight: 600;
  }
  .tag {
   margin-left: 5px;
   margin-bottom: 5px;
  }
  .icon .is-medium {
    margin-left: 10px;
  }
}

.buttons {
  height: min-content !important;

}

// Skills

i {
  font-size: 5rem;
  width: 5rem;
  padding: 50px;
}

image-column {
  display: flex;
  align-items: center;
  justify-content: center;
}

#skills-picture {
  height: 75%;
  margin: auto;
}

// contact

h3 {
  height: min-content !important;
}

.buttons.is-centered {
  height: min-content !important;
}

a .link-to-contact{
  height: min-content !important;
  .button {
    font-weight: 500;
  }
}

#contact-me {
  margin: auto;
  width: 60%;
  height: 60%;
  background-color: #373737;
  .title.is-4{
    color: #e8cdc6;
  }
}
