@import 'bulma';
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,800&display=swap');

* {
  color: #373737;
  font-family: 'Montserrat', sans-serif;
  height: 100%
}

section.section {
  padding: 0;
  height: 100%;
}

.hero-body-inverted {
  background: url(https://imgur.com/PoeNST3.jpg) no-repeat 0 0 fixed;
  background-size: 100% 100%;
}
.hero-body {
  background: url(https://imgur.com/4jMghQx.jpg) no-repeat 0 0 fixed;
  background-size: 100% 100%;
}

.column .my-picture{
  justify-content: center;
  align-items: center;
}

.picture {
  width: 50%;
  border: 25px solid white;
  position: relative;
  margin-left: 30%;
  margin-top: 10%;
}

.name {
  padding-top: 15%;
  .title,  .subtitle {
    height: auto;
  }
}

.title.is-1 {
  margin-bottom: 0;
}
